@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);

}
html, body {
    margin: 0;
    padding: 0;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
body {
    padding-top: 80px;
    background-color: #e5e5e5;
    text-align: center;
    overflow: auto;
    
}

.vid-details {
    color: #999;
}
.new {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 100%;
    word-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
    ;
}
.newinfo {
    font-size: 14px;
    font-weight: normal;

}
.fa-crow {
    color: maroon
}
header {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: #ccc 1px solid;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 5;
}
.nav-title {
    flex: 0 1 50%;
    order: 1;
    text-align: left;
    box-sizing: border-box;
    padding: 0 3px;
}
.maintitle {
    flex: 0 1 100%;
    order: 2;
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
    
}
.pagelink {
    justify-content: left;
    order: 1;
    padding: 0 3px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
}
.pagelink:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
ul {
    padding-left: 0;

}

.nav-li {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    transition-duration: 250ms;
    transition-property: box-shadow, width, height;
    background-position: center;
    background-size: cover;
    margin: 20px;
    text-align: center;
    border-radius: 25%;
}

.funny-vids {
    background-image: url(../imgs/funny.jpeg);
}
.bugs {
    background-image: url(../imgs/mantis.jpeg);
}
.nav-li:hover {
    box-shadow: 0 0 40px black ;
    width: 175px;
    height: 175px;
}
h1, p {
    text-align: center;
}
.menu {
    text-align: left;
    margin: 0 10px;
    float: left;
    
}
video {
display: block;
margin: 0 auto;
max-width: 700px;
max-height: 700px;
}

@media (max-width: 700px) {
    .pagelink {
        font-size: 9px;
    }
    .nav-title {
        font-size: 12px;
    }  
    video {
        max-height: 320px;
        max-width: 320px;
    }

}
@media (max-width: 425px) {
    video {
        max-height: 320px;
        max-width: 320px;
    }

    .maintitle {
        font-size: 12px;
        flex: 1 1 25%;
    }  
    .pagelink {
        font-size: 8px;
        flex: 0 1 100%;
    }
}
