@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);

}
html, body {
    margin: 0;
    padding: 0;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
body {
    padding-top: 80px;
    background-color: #e5e5e5;
}

.fa-crow {
    color: maroon
}
header {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: #ccc 1px solid;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 5;
}
.nav-title {
    flex: 0 1 80%;
    order: 2;
    text-align: center;
}
.pagelink {
    order: 1;
    padding: 0 20px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
}
.pagelink:hover {
    text-decoration: underline;
}
.hello {
    left: calc(50% - 92px);
    position: absolute;   
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
ul {
    padding-left: 0;

}
.birdname {
    text-decoration: underline;
}
.nav-li {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    transition-duration: 250ms;
    transition-property: box-shadow, width, height;
    background-position: center;
    background-size: cover;
    margin: 20px;
    text-align: center;
    border-radius: 25%;
}

.funny-vids {
    background-image: url(../imgs/funny.jpeg);
}
.bugs {
    background-image: url(../imgs/mantis.jpeg);
}
.nav-li:hover {
    box-shadow: 0 0 40px black ;
    width: 175px;
    height: 175px;
}
h1, p {
    text-align: center;
}
.menu {
    text-align: left;
    margin: 0 10px;
    float: left;
    
}

@media (max-width: 700px) {
    .pagelink {
        font-size: 12px;
    }
    .nav-title {
        font-size: 14px;
    }
}